name: 'Blodwen (Literate)'
scopeName: 'source.blodwen.literate'
fileTypes: ['.blod']
patterns:
  [
    {
      'match': '^(?!>)(.*)(?=\n)'
      'name': 'comment.line.documentation.blodwen.literate'
    }
    {
      'include': 'source.blodwen'
    }
  ]
